{% load static %}
{% load humanize %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i'%}" rel="stylesheet">

		<link href="{% static 'https://fonts.googleapis.com/css?family=Rufina:400,700'%}" rel="stylesheet">


        <!-- title of site -->
        <title>LV Shop</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="{% static 'assets/logo/favicon.png' %}"/>

        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css'%}">

        <!--linear icon css-->
		<link rel="stylesheet" href="{% static 'assets/css/linearicons.css'%}">

        <!--flaticon.css-->
		<link rel="stylesheet" href="{% static 'assets/css/flaticon.css'%}">

		<!--animate.css-->
        <link rel="stylesheet" href="{% static 'assets/css/animate.css'%}">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css'%}">
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css'%}">

        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">

		<!-- bootsnav -->
		<link rel="stylesheet" href="{% static 'assets/css/bootsnav.css'%}" >

        <!--style.css-->
        <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

        <!--responsive.css-->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

        <!--[if lt IE 9]>
			<script src="{% static 'https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js'%}"></script>
			<script src="{% static 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js'%}"></script>
        <![endif]-->
    </head>
    <body>
	<section id="home" class="welcome-hero">

			<!-- top-area Start -->
			<div class="top-area">
				<div class="header-area">
					<!-- Start Navigation -->
				    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				        <div class="container">

				            <!-- Start Header Navigation -->
				            <div class="navbar-header">
				                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				                    <i class="fa fa-bars"></i>
				                </button>
				                <a class="navbar-brand" href="index">Thế giới xe sang<span></span></a>

				            </div><!--/.navbar-header-->
				            <!-- End Header Navigation -->

				            <!-- Collect the nav links, forms, and other content for toggling -->
				            <div class="collapse navbar-collapse menu-ui-design" id="">
				                <ul class="nav navbar-nav navbar-right" data-in="" data-out="">
				                    <li class=" scroll active"><a href="#home">Trang chủ</a></li>
				                    <li class="scroll"><a href="#service">Dịch vụ</a></li>
									<!-- <li class="scroll"><a href="product.html">Sản phẩm</a></li> -->
									<li class="scroll"><a href="#new-cars">Sản phẩm vừa ra mắt</a></li>
				                    <li class="scroll"><a href="#featured-cars">Sản phẩm nổi bật</a></li>
				                    <li><a href="#brand">Nhãn hiệu</a></li>
				                    <li class="scroll"><a href="#contact">contact</a></li>
									<li class><a href="/history_order">Giỏ hàng</a></li>
									<li><a href="/">Đăng xuất</a></li>
				                </ul><!--/.nav -->
				            </div><!-- /.navbar-collapse -->
				        </div><!--/.container-->
				    </nav><!--/nav-->
				</div><!--/.header-area-->
			    <div class="clearfix"></div>

			</div><!-- /.top-area-->
			<!-- top-area End -->
		</section><!--/.welcome-hero-->
		<section id="new-cars" class="new-cars">
			<div class="container">
				<div class="section-header">
					<h2>Chi nhánh các cơ sở</h2>
										<p>Cơ <span>sở</span> của TGSS</p>
				</div><!--/.section-header-->
				<div class="new-cars-content">
					<div class="owl-carousel owl-theme" id="new-cars-carousel">
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
																						<img src="{% static 'assets/images/branch/branch3.png' %}" alt="img"/>

										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><a href="#">Trung tâm  <span>  Sài Gòn</span></a></h2>
											<p>
Lô DVTM-5-6-7, đường số N1 và Lô DVTM-4, Đường số 7
Khu Thương mại Nam, Khu Chế Xuất Tân Thuận
Phường Tân Thuận Đông, Quận 7, Tp. Hồ Chí Minh											</p>
											<p class="new-cars-para2">
Liên hệ
Phòng trưng bày: +84 28 54141 911 (ext. 0)
Bộ phận Kinh doanh: +84 909 768 911
Bộ phận Hậu mãi: +84 28 54141 911 (ext. 1)
Dịch vụ hỗ trợ trên đường : 1800 6898 (khi xe không vận hành được)											</p>
											<button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
												Liên hệ ngay
											</button>
										</div><!--/.new-cars-txt-->
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<h1></h1>
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="{% static 'assets/images/branch/branch2.jpg' %}" alt="img"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><a href="#">Trung tâm Hà Nội</a></h2>
											<p>
562 Nguyễn Văn Cừ
Phường Gia Thụy, Quận Long Biên
Hà Nội											</p>
											<p class="new-cars-para2">
Liên hệ:
Phòng trưng bày: +84 24 62888 911 (ext. 0)
Bộ phận Kinh doanh: +84 903 168 911
Bộ phận Hậu mãi: +84 24 62888 911 (ext. 1)
Dịch vụ hỗ trợ trên đường: 1800 6898 (khi xe không vận hành được)											</p>
											<button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
												Liên hệ ngay
											</button>
										</div><!--/.new-cars-txt-->
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<h1></h1>
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="{% static 'assets/images/branch/branch1.jpg' %}" alt="img"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><a href="#">Studio Hà Nội</a></h2>
											<p>
Porsche Studio Hà Nội
Tầng 1, Tháp 1, Capital Place, 29 Liễu Giai, Ba Đình, Hà Nội											</p>
											<p class="new-cars-para2">
											</p>
											<button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
												Liên hệ ngay
											</button>
										</div><!--/.new-cars-txt-->
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
					</div><!--/#new-cars-carousel-->
				</div><!--/.new-cars-content-->
			</div><!--/.container-->
		</section><!--/.new-cars-->
    </body>
</section><!--/.clients-say-->
		<!-- clients-say end -->

		<!--brand strat -->
			<section id="brand"  class="brand">
				<div class="container">
					<div class="brand-area">
						<div class="owl-carousel owl-theme brand-item">
							<div class="item">
								<a href="/productcate/1">
									<img src="{% static 'assets/images/brand/br1.jpg' %}" alt="brand-image" />
								</a>
							</div><!--/.item-->
							<div class="item">
								<a href="/productcate/2">
									<img src="{% static 'assets/images/brand/br2.jpg' %}" alt="brand-image" />
								</a>
							</div><!--/.item-->
							<div class="item">
								<a href="productcate/3">
									<img src="{% static 'assets/images/brand/br3.jpg' %}" alt="brand-image" />
								</a>
							</div><!--/.item-->
							<div class="item">
								<a href="productcate/4">
									<img src="{% static 'assets/images/brand/br4.jpg' %}" alt="brand-image" />
								</a>
							</div><!--/.item-->

							<div class="item">
								<a href="productcate/5">
									<img src="{% static 'assets/images/brand/br5.jpg' %}" alt="brand-image" />
								</a>
							</div><!--/.item-->

							<div class="item">
								<a href="productcate/6">
									<img src="{% static 'assets/images/brand/br6.jpg' %}" alt="brand-image" />
								</a>
							</div><!--/.item-->
						</div><!--/.owl-carousel-->
					</div><!--/.clients-area-->

				</div><!--/.container-->

			</section><!--/brand-->
			<!--brand end -->

			<!--blog start -->
			<section id="blog" class="blog"></section><!--/.blog-->
			<!--blog end -->

			<!--contact start-->
			<footer id="contact"  class="contact">
				<div class="container">
					<div class="footer-top">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="single-footer-widget">
									<div class="footer-logo">
										<a href="index.html">Thế giới xe sang</a>
									</div>
									<p>
										Với uy tín và sự kết hợp của nhiều hãng lớn chúng tôi đảm bảo 100%
									</p>
									<div class="footer-contact">
										<p>longvuit2003@gmail.com</p>
										<p>0928825568</p>
									</div>
								</div>
							</div>
							<div class="col-md-2 col-sm-6">
								<div class="single-footer-widget">
									<h2>About devloon</h2>
									<ul>
										<li><a href="#">about us</a></li>
										<li><a href="#">career</a></li>
										<li><a href="#">terms <span> of service</span></a></li>
										<li><a href="#">privacy policy</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-xs-12">
								<div class="single-footer-widget">
									<h2>top brands</h2>
									<div class="row">
										<div class="col-md-7 col-xs-6">
											<ul>
												<li><a href="#">BMW</a></li>
												<li><a href="#">lamborghini</a></li>
												<li><a href="#">camaro</a></li>
												<li><a href="#">audi</a></li>
												<li><a href="#">infiniti</a></li>
												<li><a href="#">nissan</a></li>
											</ul>
										</div>
										<div class="col-md-5 col-xs-6">
											<ul>
												<li><a href="#">ferrari</a></li>
												<li><a href="#">porsche</a></li>
												<li><a href="#">land rover</a></li>
												<li><a href="#">aston martin</a></li>
												<li><a href="#">mersedes</a></li>
												<li><a href="#">opel</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-3 col-sm-6">
								<div class="single-footer-widget">
									<h2>news letter</h2>
									<div class="footer-newsletter">
										<p>
											Subscribe to get latest news  update and informations
										</p>
									</div>
									<div class="hm-foot-email">
										<div class="foot-email-box">
											<input type="text" class="form-control" placeholder="Add Email">
										</div><!--/.foot-email-box-->
										<div class="foot-email-subscribe">
											<span><i class="fa fa-arrow-right"></i></span>
										</div><!--/.foot-email-icon-->
									</div><!--/.hm-foot-email-->
								</div>
							</div>
						</div>
					</div>
					<div class="footer-copyright">
						<div class="row">
							<div class="col-sm-6">
								<p>
									&copy; copyright.designed and developed by <a href="'{% static 'https://www.themesine.com/'%">themesine</a>.
								</p><!--/p-->
							</div>
							<div class="col-sm-6">
								<div class="footer-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-pinterest-p"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>
					</div><!--/.footer-copyright-->
				</div><!--/.container-->

				<div id="scroll-Top">
					<div class="return-to-top">
						<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
					</div>

				</div><!--/.scroll-Top-->

			</footer><!--/.contact-->
			<!--contact end-->



			<!-- Include all js compiled plugins (below), or include individual files as needed -->

			<script src="{% static 'assets/js/jquery.js' %}"></script>

			<!--modernizr.min.js-->
			<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' %}"></script>

			<!--bootstrap.min.js-->
			<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

			<!-- bootsnav js -->
			<script src="{% static 'assets/js/bootsnav.js' %}"></script>

			<!--owl.carousel.js-->
			<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

			<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js' %}"></script>

			<!--Custom JS-->
			<script src="{% static 'assets/js/custom.js' %}"></script>

		</body>

	</html>